<%= render 'layouts/admin_menu' %>

<div class="container">
    <h1>new event</h1>

    <form method="post" action="/admin/events/create">
        <table>
            <tr>
                <td>
                    name
                </td>
                <td>
                    <input type="text" name="name" placeholder="name">
                </td>
            </tr>
            <tr>
                <td>
                    start
                </td>
                <td>
                    <input type="text" id="start" name="start" value="">

                </td>
            </tr>
            <tr>
                <td>
                    end
                </td>
                <td>
                    <input type="text" id="end" name="end" value="">
                </td>
            </tr>

        </table>

        <input type="submit" value="new event"/>
    </form>
</div>
<script>
  $('#start').datetimepicker({
      format:datetime_format
  });
    $('#end').datetimepicker({
        format:datetime_format
  });
  </script>