<h1><%=@event.name%></h1>
<form method="post" action="/admin/events/update">
    <input type="text" name="name" value="<%=@event.name%>" placeholder="nombre"/>
    <input type="hidden" name="id" value="<%=@event.id%>"/>
    <input type="submit">
</form>