<table>
    <% @songs.each do |song| %>
        <tr>
            <td><%=song.title%></td>
            <td><%=song.artist_name%></td>
            <td><%=song.file_exists.inspect%></td>
            <td><a href="/admin/songs/<%=song.id%>/destroy">destroy</a></td>
        </tr>
    <% end %>
</table>