
<div id="banner">
<% if @event %>
   <%=render @event %>
   
<% else %>

   <%=raw Text2svg('tubatuba', font: "#{Rails.root.join('public')}/arialnarrow.ttf", text_align: :left, bold: true)%>

<% end %>
</div>