body {
    background-color: #111;
    color: #DDD;
    font-family: 'PT Mono', monospace;
}
a {
    color: chartreuse;
}
#admin-header li {
    display: inline;
}
.container {
    margin: 0 auto;
    max-width: 960px;
}
form {
    display: flex;
    flex-direction: column;
}
#error {
    background-color: darkred;
    color: white;
}

#admin-events-list td {
    padding: 4px 8px;
}
#admin-events-list th {
    padding: 4px 8px;
}
#player {
    position:fixed;
    left:0;
    right: 0;
    bottom:0;
    height: 100px;
    background-color: chartreuse;
    color:black;
}
#score {
    display:none;
}
tr:nth-child(even) {background:rgba(255,255,255,0.1)}